html {
    background-color: rgb(25,25,35);
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    margin: 0;
}

.test_container {
    box-sizing: border-box;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    user-select: none;
}

#question_container {
    font-size: 3rem;
    text-align: center;
}

#answers_container {
    display: grid;
    grid-template-columns: 40vw 40vw;
    gap: 0.8rem;
}

.answer {
    background-color: rgba(255,255,255,0.1);
    color: white;
    font-size: 2rem;
    padding-left: 5rem;
    padding-block: 0.4rem;
    border-radius: 25px;
    user-select: none;
}

@keyframes answer_animation {
    0% {
        color: white;
    }

    50% {
        color: greenyellow;
    }

    100% {
        color: white;
    }
}

.answer:hover {
    animation: answer_animation 2.5s infinite;
}

.button_container {
    position: absolute;
    bottom: 10px;
    right: 10px;
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.next_button {
    border: 3px solid red;
    padding-inline: 0.4rem;
    padding-block: 0.2rem;
    font-size: 1.5rem;
    width: fit-content;
    height: fit-content;
    border-radius: 10px;
    background-color: rgba(255,255,255,0.1);
    user-select: none;
}

.skip_button {
    border: 3px solid blue;
    padding-inline: 0.4rem;
    padding-block: 0.2rem;
    font-size: 1.5rem;
    width: fit-content;
    height: fit-content;
    border-radius: 10px;
    background-color: rgba(255,255,255,0.1);
    user-select: none;
}

@keyframes skip_button_animation {
    0% {
        border: 3px solid blue;
        color: white;
    }

    50% {
        border: 3px solid greenyellow;
        color: greenyellow;
    }

    100% {
        border: 3px solid blue;
        color: white;
    }
}

@keyframes next_button_animation {
    0% {
        border: 3px solid red;
        color: white;
    }

    50% {
        border: 3px solid greenyellow;
        color: greenyellow;
    }

    100% {
        border: 3px solid red;
        color: white;
    }
}

.next_button:hover {
    animation: next_button_animation 2s infinite;
}

.skip_button:hover {
    animation: skip_button_animation 2.5s infinite;

}

.correct {
    background-color: green;
}

.wrong {
    background-color: red;
}

@keyframes correct_animatioon {
    from {
        background-color: rgba(255,255,255,0.1);
    }
    to {
        background-color: green;
    }
}

@keyframes wrong_animatioon {
    from {
        background-color: rgba(255,255,255,0.1);
    }
    to {
        background-color: red; 
    }
}

.correct {
    animation: correct_animatioon 1s 1;
    animation-fill-mode: forwards;
}

.wrong {
    animation: wrong_animatioon 1s 1;
    animation-fill-mode: forwards;
}

.hidden {
    display: none !important;
}

#valor {
    font-size: 2rem;
    width: 5rem;
    height: 2rem;
    font-weight: 600;
    padding-inline: 0.8rem;
    padding-block: 0.4rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    user-select: none;
    position: fixed;
    top: 15px;
    right: 15px;
    border: solid red 2px;
    border-radius: 10px;
}

#valor:hover {
    color: red
}

#endScreen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    margin: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: black;
    z-index: 10;
    user-select: none;
}

.tryAgain {
    font-size: 1.4rem;
    width: fit-content;
    height: 1.4rem;
    padding-inline: 0.8rem;
    padding-block: 0.4rem;
    border: solid lightgray 2px;
    border-radius: 10px;
    user-select: none;
}

.tryAgain:hover {
    color: greenyellow;
}